body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: gray;
  font-weight: 100;
  margin-bottom: 0;
  font-size: 30px;
  line-height: 2;
}

h2 {
  color: #972fa7;
  font-weight: bold;
  font-size: 23px;
}

h3 {
  font-size: 18px;
  font-weight: bold;
}
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #972fa7;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.weather-app {
  border: 2px solid #972fa7;
  padding: 20px;
  border-radius: 10px;
  background-color: #dcdbfe;
}

button.btn-secondary {
  background: #972fa7;
  border-color: gray;
}

button.btn-secondary:hover {
  background: gray;
  border-color: #972fa7;
}
button.btn-secondary:focus {
  background: #972fa7;
  border-color: gray;
}

.units {
  position: relative;
  right: 15px;
  font-size: smaller;
  font-size: 16px;
  top: -34px;
}

.weather-icon {
  color: black;
  font-size: 18px;
}

.temp {
  color: black;
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}

a:link {
  text-decoration: none;
}
a:hover {
  color: #972fa7;
  font-weight: bold;
}
