body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fffff5;
  background-image: url("wheel.gif");
}

h1 {
  color: gray;
  font-weight: 100;
  margin-bottom: 0;
  font-size: 30px;
  line-height: 2;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: gray;
  font-size: 16px;
  font-weight: 200;
  line-height: 19px;
}

.glyphs {
  display: block;
  position: relative;
  left: 200px;
}

.greeting {
  color: #972fa7;
  font-weight: bold;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.weather-app {
  border: 1px solid #857488;
  padding: 20px;
  border-radius: 10px;
  background-color: light pink;
}

button.btn-secondary {
  background: #972fa7;
  border-color: gray;
}

button.btn-secondary:hover {
  background: gray;
  border-color: #972fa7;
}
button.btn-secondary:focus {
  background: #972fa7;
  border-color: gray;
}

.units {
  position: relative;
  font-size: smaller;
  font-weight: bold;
  font-size: 14px;
  top: -34px;
}

.weather-icon {
  color: black;
  font-size: 18px;
}

.weather-temperature img {
  margin-right: 5px;
  height: 68px;
  width: 68px;
}

.temp {
  color: black;
  font-size: 62px;
  line-height: 1;
  font-weight: 400;
}
a {
  text-decoration: none;
}

.weather-temperature .active {
  color: rgb(33, 33, 33);
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}
